<div class="col-md-12 bg-danger" style="padding: 20px 30px">
   <h5> Login here to see your personal Details! </h5>
   <a href="http://modifiedoauth-env.us-east-2.elasticbeanstalk.com/user/getcode?clientId=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiU29tZSBQdWJsaWMgQXBwIiwic2NvcGVzIjoiYmFzaWMiLCJ0eXBlIjoicHVibGljIiwiaWF0IjoxNTEwNjc4NDk1MjI0LCJleHAiOjE1NDIyMTQ0OTUyMjR9.4NxfSF0IktOSGCEtKklwpLE4u4b8P1qdEr_hCQOqZB4&redirectURI=localhost:4200/redirect"
      class="btn btn-primary" role="button">Login using mOAuth</a>
</div>
