<div class="container bg-grey" style="padding: 60px 50px;background-color: #f6f6f6;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Toyota-Yaris.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Subcompact Car: Toyota Yaris iA</h2>
       <p>Developed by Mazda, launched by Scion, and now marketed as a Toyota, the Yaris iA proves that subcompact cars can delight.
         A different model from the Toyota Yaris hatchback, the frisky iA sedan stands out in a segment filled with insubstantial models.
         It feels refined for this entry-level class, with a smooth and willing four-cylinder engine, slick six-speed automatic transmission, and relatively compliant ride.
         Mazda’s sporty DNA shines through the well-tuned steering and eager handling to bring playfulness to this affordable party.
         A full-featured infotainment system and standard low-speed automatic emergency braking add further appeal, making the Yaris iA a desirable no-excuses budget sedan.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>

<div class="container bg-grey" style="padding: 60px 50px;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Mazda MX-5 Miata.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Compact Car: Chevrolet Cruze</h2>
      <p>This redesigned sedan and hatchback bests two segment stalwarts, the Honda Civic and the Toyota Corolla, with an Overall Score at the top of the class.
        The formula is simple: Put the Malibu and Impala in a shrink ray, reducing scale but preserving the commendable driving manners and generous available features.
        The result is a hushed, smooth-riding sedan that’s roomy enough to be a budget-friendly alternative to a midsized car.
        The polished 153-hp turbocharged four-cylinder engine is lively yet frugal. The Cruze we tested returned a good 30 mpg overall,
        but look deeper into the data and you find that it achieved 47 mpg on the highway.
        Given that impressive figure, it might not be worth waiting for the diesel engine.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>

<div class="container bg-grey" style="padding: 60px 50px;background-color: #f6f6f6;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Kia Optima.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Compact Hybrid: Toyota Prius</h2>
      <p>The car that pioneered the hybrid movement and has defined fuel-efficiency for four model generations still stands tall as an innovative green machine.
        Its fuel economy in our tests was a staggering 52 mpg overall—the highest we’ve ever recorded in a car that doesn’t plug in.
        Prius also touts excellent reliability, a remarkable accomplishment given the inherent complexity of its hybrid powertrain.
        It has improved even more with its recent redesign, reducing cabin noise, improving ride comfort, and making handling more responsive.
        Sweetening the deal, the new Prius comes standard with a comprehensive suite of safety features. Being green has never been so easy or smart.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>

<div class="container bg-grey" style="padding: 60px 50px;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Chevrolet Cruze.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Sports Car: Mazda MX-5 Miata</h2>
      <p>The Mazda MX-5 Miata is the embodiment of driving pleasure. Its alchemical formula has been honed since 1990, with the core ingredients consistently being a pliant four-cylinder engine, rear-wheel drive, sharp handling, and light weight.
        The real magic is in how the machine responds to the driver. The modest power is harnessed to great effect with a slick-shifting manual transmission with closely spaced gear ratios.
        The Miata truly comes alive on winding roads, with immediate steering response and a handling balance that will make you grin.
        On top of all that, it gets impressive fuel economy. Fantastically fun and frugal, the Miata is spellbinding</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>
<div class="container bg-grey" style="padding: 60px 50px;background-color: #f6f6f6;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Toyota Prius.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Midsized Sedan: Kia Optima</h2>
      <p>Move over Honda Accord and Toyota Camry: The Kia Optima rocks the midsized sedan segment as a smart alternative to the me-too mainstream.
        It checks all of the right boxes for family-sedan buyers, with responsive handling, a steady ride and pleasant powertrain, short stopping distances, easy-to-use controls, and a roomy backseat.
        The Optima is a vehicle that delivers all of these virtues in a stylish, value-laden package that’s filled with features usually found on pricier cars.
        With outstanding reliability and extensive warranty coverage, savvy sedan shoppers should take this recently redesigned car for a test drive.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>

<div class="container bg-grey" style="padding: 60px 50px;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Chevrolet impala.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Large Sedan: Chevrolet Impala</h2>
      <p>The Impala continues to reign as the leading large sedan. Slide behind the wheel and you can see why. Roomy, supportive seats put you in the perfect position to access the intuitive controls.
        Despite its prodigious size, the Impala’s handling is responsive and secure. Road imperfections are effectively absorbed, resulting in a ride reminiscent of a pricier luxury sedan.
        The rear seat is roomy enough for three adults, and the ample trunk can swallow their bags with ease.
        Sedan shoppers browsing upmarket choices would be wise to give this smart, competitively priced alternative serious consideration.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>
<div class="container bg-grey" style="padding: 60px 50px;background-color: #f6f6f6;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Audiq7.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Luxury SUV: Audi Q7</h2>
      <p>The seven-passenger Q7 is the highest-rated SUV we’ve recently tested. Sumptuous and pampering, it feels more like a luxury sedan than an SUV.
        The quiet interior coddles riders, and it’s decked out with premium trimmings and road-trip-friendly seats. The infotainment system provides seamless interaction with phone, audio, and other functions.
        Despite its generous size, the Q7 has genuine agility, with road-hugging chops, a settled ride, and excellent brakes for rapid stops. Sure, it’s pricey, but it’s also rich in rewards.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>

<div class="container bg-grey" style="padding: 60px 50px;">
  <div class="row">
    <div class="col-sm-4">
      <img class="img-responsive"  src="..\..\assets\Honda Ridgeline.jpeg">
    </div>
    <div class="col-sm-10">
      <h2>Compact Pickup: Honda Ridgeline</h2>
      <p>The Ridgeline glides along, more akin to a sedan than its roughneck rivals. It also handles far better than any compact or full-sized pickup, and it shames all nondiesel trucks for fuel economy.
        The Ridgeline isn’t up for big-time towing or off-road adventures, but this smartly designed truck more than makes up for that with other benefits. The lockable in-bed trunk and dual-mode tailgate add to its flexibility.
        Many truck buyers dream of a large, rugged behemoth, but the Ridgeline excels at the factors most noncommercial drivers with weekend warrior aspirations will appreciate.</p>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star"></span>
      <span class="glyphicon glyphicon-star-empty"></span>
    </div>
  </div>
</div>
