<div class="row">
  <div class="jumbotron text-center">
    <h2 style="color: darkcyan"><i><u>Review, Buy, Sell Cars Here!</u></i></h2>
      <p><i>All 'bout Cars is a news and opinion website about cars, the automotive industry, racing, transportation, airplanes, technology, motorcycles and much more.
        We aim to cover these things with an honesty, transparency and cheerful belligerence that can’t be found anywhere else.</i> </p>
  </div>
</div>
  <hr>
<div class="container">
  <h1 class="bg-success" style="padding-left: 6px; padding-bottom: 6px; border-bottom-right-radius: 6px; border-top-right-radius: 6px;"><u>8 Top Picks of 2017: Best Cars of the Year</u></h1>
  <h3> This year’s outstanding vehicles, according to CR’s comprehensive and stringent criteria</h3><br>
  <h4>The best new cars of 2017 are outstanding all-around performers—shown to be reliable, safe, and satisfying.
    That means they have scored high in our stringent track tests and extensive owner surveys.
    They have won our admiration, and we recommend them with confidence. (After you check out our Top Picks, take our poll below to tell us which car you'd choose.)</h4>
  <br>

  <app-carinfo></app-carinfo>
</div>
